.landing-strip {
  background: $color_panel;
  color: $color_text;
  font-weight: 400;
  padding: 14px;
  border-radius: 4px;
  margin-bottom: 20px;
  box-shadow: 0 0 15px rgba($color_black,0.2);

  strong,
  a {
    font-weight: 500;
  }

  a {
    color: inherit;
    text-decoration: underline;
  }
}
