.landing-strip {
  background: $color003;
  color: $color002;
  font-weight: 400;
  padding: 14px;
  border-radius: 4px;
  margin-bottom: 20px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);

  strong, a {
    font-weight: 500;
  }

  a {
    color: inherit;
    text-decoration: underline;
  }
}
