
$color1: #282c37 !default; // darkest
$color2: #d9e1e8 !default; // lightest
$color3: #9baec8 !default; // lighter
$color4: #2b90d9 !default; // vibrant
$color5: #333333 !default; // white
$color6: #df405a !default; // error red
$color7: #79bd9a !default; // succ green
$color8: #000000 !default; // black

$color000: #EEEEEE !default; // bg
$color001: #DB4437 !default; // theme color
$color002: #333333 !default; // moji
$color003: #FFFFFF !default; // tile
$color004: #2B90D9 !default; // link
$color005: #000000 !default; // 
$color006: #000000 !default; // 
$color007: #000000 !default; // 
$color008: #000000 !default; // 

