$color1: #282c37 !default; // darkest
$color2: #d9e1e8 !default; // lightest
$color3: #9baec8 !default; // lighter
$color4: #2b90d9 !default; // vibrant
//$color5: #ffffff !default; // white
$color5: #333333 !default; // moji
$color6: #df405a !default; // error red
$color7: #79bd9a !default; // succ green
$color8: #000000 !default; // black

$color000: #EEEEEE !default; // bg
$color001: #DB4437 !default; // tab
$color002: #000000 !default; // 
$color003: #000000 !default; // 
$color004: #000000 !default; // 
$color005: #000000 !default; // 
$color006: #000000 !default; // 
$color007: #000000 !default; // 
$color008: #000000 !default; // 

